html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  min-height: 100vh;
}

.col {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: flex;
}

.padding {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
}

.align-right {
  text-align: right;
  float: right;
}

/* Center Element In Parent */
.center {
  margin: auto;
  width: 60%;
  padding: 2rem;
}

/* === TEXT CONTROL - Layout ===*/

/* Center Text */
.center-text {
  text-align: center;
}

/* === TEXT CONTROL - END ===*/

/* Top Nav Bar (navbar.js) */

.top-navigator {
  overflow: hidden;
  background-color: #333;
}

/* Top Nav Bar - End CSS layout */

/* Home Component */
.home {
  width: 50%;
}

/* Home Component - End CSS Layout */

/* === Form Control - Layout ===*/
.input-row {
  display: flex;
  flex-direction: column;
}

.form-column {
  float: left;
  width: 50%;
  padding: 1rem;
}

.form-title {
  text-align: center;
}
/* Clear floats after columns*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

label {
  margin-bottom: 0.2rem;
  white-space: nowrap;
}

form {
  margin: 1rem;
  padding: 0.8rem 0.8rem 1.5rem 0.8rem;
}

/* === Form Control - END ===*/
