/* Styling CSS*/

.crum-color-primary {
  background-color: #f7f5fb;
}

.crum-color-secondary {
  background-color: #084887;
}

.crum-color-third {
  background-color: #909cc2;
}

/* Top Nav Bar (navbar.js) */

/* Top Nav Bar - End CSS Style */
