/* Styling CSS*/

.crum-color-primary {
  background-color: #f7f5fb;
}

.crum-color-secondary {
  background-color: #04aa6d;
}

.crum-color-third {
  background-color: #909cc2;
}

/* === TEXT CONTROL - Style ===*/

/* Text */

.large-text {
  font-size: 2rem;
}

.bold-text,
label {
  font-weight: bold;
}

/* === TEXT CONTROL - END ===*/

/* Top Nav Bar (navbar.js) */

.top-navigator a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-navigator a:hover {
  background-color: #ddd;
  color: black;
}

.top-navigator a.active {
  background-color: #04aa6d;
  color: white;
}

/* === Form Control - Style ===*/

/* Center Text */
form {
  margin: 1rem;
  font-family: "Montserrat", sans-serif;
  background-color: #bbb;
  border-color: black;
  border-style: solid;
  padding: 1rem;
}

/* === Form Control - END ===*/

/* === Buton - Style === */

button {
  border-radius: 0.25rem;
}

/* === Button Style - End === */

/* Tables - Style - Start*/

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Tables - Customer Table - Style  - Start*/

td,
th {
  border: 1px solid #dddd;
  color: black;
}

.table-head {
  background-color: #e9e9eb;
  color: #666;
}

/* Tables - Customer Table - Style - End*/

/* Tables - Contacts Table - Style - Start */

/* Tables - Style - End */

.text-decoration {
  text-decoration: none;
}
