/* Styling CSS*/

.crum-color-primary {
  background-color: #f7f5fb;
}

.crum-color-secondary {
  background-color: #084887;
}

.crum-color-third {
  background-color: #909cc2;
}

/* Top Nav Bar (navbar.js) */

.top-navigator a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-navigator a:hover {
  background-color: #ddd;
  color: black;
}

.top-navigator a.active {
  background-color: #04aa6d;
  color: white;
}

/* Top Nav Bar - End CSS Style */
